#main{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
#Addfile_Continer{
    /* max-width: 1200px; */
    margin-top: 20px;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap; 
    justify-content:space-between;
}
#form{
    min-width: 300px;
    max-width: 600px;
    margin: 20px;
}

#card{
    max-width: 300px;
    min-width: 150px;
    margin: 10px;
    /* max-height: 500px; */
}
#card_img{
    /* max-width: 300px; */
    max-height: 200px;
}
#perwiev_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}


.spinner-3 {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: s3 1s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}